@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #10B981;
}
